@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #121212;
    overflow: hidden;
}

.circle{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #e51e2a;
    clip-path: circle(50% at bottom right);
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo{
    position: absolute;
    max-width: 50px;
    border-radius: 50px;
}

header .navigation ul{
    position: relative;
    margin-left: 30em;
}

header .navigation  li{
    list-style: none;
    
}

header .navigation a{
    
    color:#fff;
    font-weight: 500;
    text-decoration: none;
    font-size: 19px;
    margin-left: 100px;
}

.navigation :hover{
    color: #d40610;
}

.content{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content .text{
    position: relative;
    max-width: 600px;
    margin-right: 20px;
}

.content .text h2{
    color: #fff;
    font-size: 3em;
    margin-bottom: 10px;
    line-height: 2.5em;
    font-weight: 700;
}

.content .text h2 span{
    font-size: 3.5em;
    color: #e51e2a;
}

.content .text p{
    font-size: 18px;
    color: #fff;
    padding-right: 5px;
}

.content .text a{
    display: inline-block;
    margin-top: 25px;
    padding: 10px 25px;
    background: #e51e2a;
    color: #fff;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
    border-radius: 40px;
    transition: 0.3s ease-in-out;
}

.content .text a:hover{
    transform: translateY(-10px);
}

.icons{
    position: absolute;
    bottom: 50px;
    left: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icons li{
    list-style: none;
}

.icons li a{
    display: inline-block;
    margin-left: 45px;
    background:#e51e2a ;
    color: #f3c5c5;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition:  0.3s ease-in-out;
    text-decoration: none;
}

.icons li a:hover{
    background: #d40610;
    transform: translateY(-5px);
}

.boxImg{
    position: absolute;
    right: 0;
    bottom: -3px;
    float: right;
    margin-left: 20px;
}

.boxImg img{
    width: 160px;
}

.boxImg .img1 .img4{
    transform: rotate(-15deg)
}

.boxImg .img2{
    transform: rotate(-5deg)
}

.boxImg .img3{
    transform: rotate(15deg)
}

p {
width: 250px;
color: red;
}
footer{
    text-align: center;
}

.cardapio ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    gap: 5em;
    list-style: none;
}

.cardapio img{
    height: 200px;
    width: 200px;
}

.contato li {
    color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 5px;  
    list-style: none;  
}

 form, h2{
    color: #fff;
 }
  
 button{
    border-radius: 10px;
    font-size: medium;
    padding: 5px ;
 }
button:hover{
    color:#fff;
    background-color: #d40610;
}

form {
    padding-left: 10px;
    display: flex; /* Transforma o contêiner em um Flex Container */
    align-items: center; /* Alinha os itens ao topo (importante para o textarea) */
    margin-bottom: 15px; /* Espaço entre os campos */
    gap: 20px; /* Espaço entre o label e o input/textarea */
}
fieldset{
    padding-left: 4px;
}
legend, label{
    font-size: small;
}

#containerDeCards{
    padding-top: 120px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.card {
    background-color: #e17171;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

card img {
    width: 100px; /* Faz a imagem ocupar 100% da largura do card */
    max-height: 200px; /* Limita a altura da imagem para manter a proporção */
    border-radius: 50%;
    margin-bottom: 10px;
}

